.clip-hex {
  clip-path: polygon(
    20% 0%, /*ด้านบนสุด*/
    80% 0%, /*ขวาบน*/
    100% 50%, /*ขวาล่าง*/
    80% 100%, /*ด้านล่างสุด*/
    20% 100%, /*ซ้ายล่าง*/
    0% 50% /*ซ้ายบน*/
  );
  background-color: transparent;
}


/* ตัวเลขหน้า % แรก → แนวนอน (x) → 0% = ซ้ายสุด, 100% = ขวาสุด
ตัวเลขหลัง % → แนวตั้ง (y) → 0% = บนสุด, 100% = ล่างสุด */

/* Hexagon grid base */
.hex-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* <<< ชิดซ้าย */
  gap: 1rem;
}

.hex-item {
  margin: 0.5rem;
}

/* แถว 2 → เยื้องครึ่งช่องทั้งหมด */
.hex-item:nth-child(n+6):nth-child(-n+10) {
  margin-left: 4rem; /* ขยับครึ่งช่อง */
}

.scrollable-div {
  max-height: 900px;
  overflow: auto; 
  border: 1px solid #ccc;
  padding: 10px;
  min-height: 800px;
}

.bigBox {
  display: flex;
  gap: 7px;
  margin-top: 55px;
  flex-direction: column;
  width: "100%";
  gap: 2;
}

.boxInside{
  flex: 1;
  
}

/* Responsive: ถ้าหน้าจอแคบลง ลด offset */
@media (max-width: 768px) {
  .hex-item:nth-child(n+6):nth-child(-n+10) {
    margin-left: 2rem;
  }
}

@media (max-width: 480px) {
  .hex-item:nth-child(n+6):nth-child(-n+10) {
    margin-left: 0.5rem;
  }
}

